@using Eterna.Models
@model IEnumerable<SoruKategori>
<div class="widget">
    <h5 class="widgetheading">Soru Kategorileri</h5>
    <ul class="link-list">
        @foreach (SoruKategori item in Model)
        {
            <li><a href="#">@item.Ad</a></li>
        }

    </ul>

</div>
