<form action="/Hizmet/Yeni" method="post">
    <div class="yeni">
        <div class="satir">
            <span>Hizmet Adı:</span><input type="text" name="adi" />
            <span>Hizmet Sırası:</span><input type="text" name="sirasi" />
            <input type="submit" value="Gönder" />            
        </div>
    </div>
</form>
<style>
    .yeni {
        width: 70%;
        overflow: hidden;
        padding: 30px;
    }
        .yeni .satir {
            width: 100%;
            clear: both;
            padding-top: 15px;
            height: 30px;
            border-bottom: solid 1px #eee
        }
        .yeni .span {
            width: 20%;
            display:block;
            float:left;
            margin-right:5%;
        }
        .yeni input[type=text] {
            width: 75%;
            display: block;
            float: left;
        }
</style>